body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(35, 0, 0);
    color: white;
}
canvas{
    box-shadow: 0px 0px 5px 5px rgb(255, 0, 0);
}